<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlightOps</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
    <h1>FlightOps</h1>

    <div class="container">
        <iframe src="/source_destination_form" class="left-frame" frameborder="0"></iframe>
        <iframe src="/flying_safety_checker" class="right-frame" frameborder="0"></iframe>
    </div>
</body>
</html>
