<!DOCTYPE html>
<html>
<head>
    <title>FlightOps</title>
    <link rel="stylesheet" type="text/css" href="../static/src_dst.css">
</head>
<body>
    <h1>Route</h1>
    <form action="/result" method="post">
        <label for="source">Source Airport:</label>
        <select id="source" name="source">
            <option value="Indira Gandhi International Airport">Indira Gandhi International Airport, Delhi (DEL)</option>
            <option value="Chhatrapati Shivaji Maharaj International Airport">Chhatrapati Shivaji Maharaj International Airport, Mumbai (BOM)</option>
            <option value="Kempegowda International Airport">Kempegowda International Airport, Bangalore (BLR)</option>
            <option value="Chennai International Airport">Chennai International Airport, Chennai (MAA)</option>
            <option value="Rajiv Gandhi International Airport">Rajiv Gandhi International Airport, Hyderabad (HYD)</option>
            <option value="Netaji Subhas Chandra Bose International Airport">Netaji Subhas Chandra Bose International Airport, Kolkata (CCU)</option>
            <option value="Sardar Vallabhbhai Patel International Airport">Sardar Vallabhbhai Patel International Airport, Ahmedabad (AMD)</option>
            <option value="Pune Airport">Pune Airport, Pune (PNQ)</option>
            <option value="Goa International Airport">Goa International Airport, Goa (GOI)</option>
            <option value="Cochin International Airport">Cochin International Airport, Kochi (COK)</option>
            <option value="Jaipur International Airport">Jaipur International Airport, Jaipur (JAI)</option>
            <option value="Trivandrum International Airport">Trivandrum International Airport, Thiruvananthapuram (TRV)</option>
            <option value="Chandigarh Airport">Chandigarh Airport, Chandigarh (IXC)</option>
            <option value="Dr. Babasaheb Ambedkar International Airport">Dr. Babasaheb Ambedkar International Airport, Nagpur (NAG)</option>
            <option value="Vijayawada Airport">Vijayawada Airport, Vijayawada (VGA)</option>
            <option value="Chaudhary Charan Singh International Airport">Chaudhary Charan Singh International Airport, Lucknow (LKO)</option>
            <option value="Biju Patnaik International Airport">Biju Patnaik International Airport, Bhubaneswar (BBI)</option>
            <option value="Jay Prakash Narayan International Airport">Jay Prakash Narayan International Airport, Patna (PAT)</option>
            <option value="Birsa Munda Airport">Birsa Munda Airport, Ranchi (IXR)</option>
            <option value="Lokpriya Gopinath Bordoloi International Airport">Lokpriya Gopinath Bordoloi International Airport, Guwahati (GAU)</option>
            <option value="Devi Ahilya Bai Holkar Airport">Devi Ahilya Bai Holkar Airport, Indore (IDR)</option>
            <option value="Sheikh ul-Alam International Airport">Sheikh ul-Alam International Airport, Srinagar (SXR)</option>
            <option value="Bagdogra Airport">Bagdogra Airport, Siliguri (IXB)</option>
        </select>
        
        <label for="destination">Destination Airport:</label>
        <select id="destination" name="destination">
            <option value="Indira Gandhi International Airport">Indira Gandhi International Airport, Delhi (DEL)</option>
            <option value="Chhatrapati Shivaji Maharaj International Airport">Chhatrapati Shivaji Maharaj International Airport, Mumbai (BOM)</option>
            <option value="Kempegowda International Airport">Kempegowda International Airport, Bangalore (BLR)</option>
            <option value="Chennai International Airport">Chennai International Airport, Chennai (MAA)</option>
            <option value="Rajiv Gandhi International Airport">Rajiv Gandhi International Airport, Hyderabad (HYD)</option>
            <option value="Netaji Subhas Chandra Bose International Airport">Netaji Subhas Chandra Bose International Airport, Kolkata (CCU)</option>
            <option value="Sardar Vallabhbhai Patel International Airport">Sardar Vallabhbhai Patel International Airport, Ahmedabad (AMD)</option>
            <option value="Pune Airport">Pune Airport, Pune (PNQ)</option>
            <option value="Goa International Airport">Goa International Airport, Goa (GOI)</option>
            <option value="Cochin International Airport">Cochin International Airport, Kochi (COK)</option>
            <option value="Jaipur International Airport">Jaipur International Airport, Jaipur (JAI)</option>
            <option value="Trivandrum International Airport">Trivandrum International Airport, Thiruvananthapuram (TRV)</option>
            <option value="Chandigarh Airport">Chandigarh Airport, Chandigarh (IXC)</option>
            <option value="Dr. Babasaheb Ambedkar International Airport">Dr. Babasaheb Ambedkar International Airport, Nagpur (NAG)</option>
            <option value="Vijayawada Airport">Vijayawada Airport, Vijayawada (VGA)</option>
            <option value="Chaudhary Charan Singh International Airport">Chaudhary Charan Singh International Airport, Lucknow (LKO)</option>
            <option value="Biju Patnaik International Airport">Biju Patnaik International Airport, Bhubaneswar (BBI)</option>
            <option value="Jay Prakash Narayan International Airport">Jay Prakash Narayan International Airport, Patna (PAT)</option>
            <option value="Birsa Munda Airport">Birsa Munda Airport, Ranchi (IXR)</option>
            <option value="Lokpriya Gopinath Bordoloi International Airport">Lokpriya Gopinath Bordoloi International Airport, Guwahati (GAU)</option>
            <option value="Devi Ahilya Bai Holkar Airport">Devi Ahilya Bai Holkar Airport, Indore (IDR)</option>
            <option value="Sheikh ul-Alam International Airport">Sheikh ul-Alam International Airport, Srinagar (SXR)</option>
            <option value="Bagdogra Airport">Bagdogra Airport, Siliguri (IXB)</option>
        </select>
        
        <button type="submit">Check Route</button>
    </form>
</body>
</html>
